$white: #ffffff;

$black: #000000;

$gray: #a9a9a9;
$light-gray: #d7d9e6;
$dark-gray: #888888;

$red: #ff5959;
$dark-red: #a81612;

$green: #42cc67;
$dark-green: #228318;

$blue: #0080ff;
$light-blue: #519dff;

$purple: #ab69c7;
$dark-purple: #73194d;
