.bar-chart-table {
  width: 100%;
  border-collapse: collapse; }

.bar-chart-table td,
.bar-chart-table th {
  width: 50%; }

.bar-chart-table td:first-child {
  text-align: right; }

.bar-chart-table td:last-child {
  border-left: 1px solid #000; }

.bar-chart-table th {
  padding: 16px 8px;
  border-top: 1px solid #000;
  background-color: #fff;
  border-bottom: 2px solid #d7d9e6; }

.bar-chart-table td {
  padding: 12px 8px; }

.bar-chart-table tr {
  background-color: #f5f5f5;
  border-bottom: 1px solid #d7d9e6; }

.bar-chart-table tr:last-child {
  border-bottom: none; }

.bar-chart-table--is-green {
  color: green; }

.bar-chart-table--is-red {
  color: red; }
