$blue: #0080ff;

.bar-chart {
    width: 100%;
}

.bar-chart__main-label-wrapper {
    text-align: center;
}

.bar-chart__main-label {
    font-size: 30px;
    color: $blue;
    border-bottom: 3px solid #a9a9a9;
}

.bar-chart__section {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid #d7d9e6;
}

.bar-chart__section:last-of-type {
    border-bottom: none;
}

.bar-chart__negative-side {
    flex: 0 0 50%;
    padding: 16px 0;
}

.bar-chart__label {
    padding: 8px 16px;
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
}

.bar-chart__label--negative-side {
    color: $blue;
    text-align: right;
}

.bar-chart__label--positive-side {
    text-align: left;
    position: relative;
}

.bar-chart__label--positive-side::before {
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 5px solid #a9a9a9;
    border-radius: 8px;
    left: -8px;
    background-color: #fff;
    content: "";
    display: block;
    position: absolute;
    top: calc(0.5em + 8px - 7px);
}

.bar-chart__positive-side {
    flex: 0 0 50%;
    border-left: 1px solid #000;
    padding: 16px 0;
}

.bar-chart__bar {
    padding: 4px 8px;
    margin: 8px 0;
}

.bar-chart__bar--is-green {
    background-color: lightgreen;
    color: green;
    border: 1px solid green;
    border-left: none;
}

.bar-chart__bar--is-red {
    background-color: lightpink;
    color: red;
    border: 1px solid red;
    border-left: none;
}

.bar-chart__bar--is-blue {
    background-color: lightblue;
    color: blue;
    border: 1px solid blue;
    border-left: none;
}

.bar-chart__bar-value {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
}
