@import "../../styles/colors";

.bar-chart {
    $small-point--size: 24px;
    $small-point--border-width: 5px;
    $big-point--size: (2 * $small-point--size) - (2 * $small-point--border-width);
    $timeline-width: 6px;

    width: 100%;

    &__ {

        &main-label-wrapper {
            text-align: center;
        }

        &main-label {
            font-size: 30px;
            color: $blue;
        }

        &start-point-wrapper {
            position: relative;
            left: 50%;
            display: inline-block;
        }

        &start-point {
            width: $big-point--size;
            height: $big-point--size;
            border-radius: $big-point--size / 2;
            margin-left: ($big-point--size / -2) + ($timeline-width / 2);
            background-color: $blue;
            display: block;
        }

        &section {
            display: flex;
            flex-flow: row nowrap;

            &:last-of-type {
                border-bottom: none;
            }
        }

        &negative-side {
            flex: 0 0 50%;
            padding: 12px 0;
        }

        &positive-side {
            flex: 0 0 50%;
            border-left: ($timeline-width + 1) solid $light-gray;
            padding: 12px 0;
        }

        &label {
            padding: 8px 16px;
            font-size: 20px;
            font-weight: normal;
            text-transform: uppercase;
            color: $blue;

            &-- {

                &negative-side {
                    text-align: right;
                }

                &positive-side {
                    text-align: left;
                    position: relative;

                    &::before {
                        position: absolute;
                        top: 0.4em;
                        left: ($small-point--size / -2) - ($timeline-width / 2);
                        box-sizing: border-box;
                        width: $small-point--size;
                        height: $small-point--size;
                        border: 5px solid $white;
                        border-radius: $small-point--size / 2;
                        background-color: $blue;
                        content: "";
                        display: block;
                    }
                }
            }
        }

        &bar {
            padding: 12px;
            margin: 8px 0;
            border-radius: 0 5px 5px 0;

            &-- {

                &is-green {
                    background-color: $green;
                }

                &is-red {
                    background-color: $red;
                }

                &is-purple {
                    background-color: $purple;
                }
            }
        }

        &bar-value {
            font-size: 14px;
            font-weight: bold;
            text-align: right;
            color: $white;

            &-- {

                &is-green {
                    color: $dark-green;
                }

                &is-red {
                    color: $dark-red;
                }

                &is-purple {
                    color: $dark-purple;
                }
            }
        }
    }
}
